canvas { 
    border: 1px solid #ccc;
    cursor: crosshair;
    margin: 50px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1)
}
body {
    margin: 0;
    padding: 0;
}
nav {
    list-style-type: none;
    padding: 20px;
    float: left;
}
nav:after {
    content: "";
    clear: both;
    height: 0;
    width: 0;
    visibility: hidden;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.4)
}
section {
    clear: both;
}